body {
    background-image: url("Pier.jpg")
}

.main-wrapper {
    margin: 85px 20% 0px 20%;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(50deg, rgba(121,1,102,1) 0%, rgb(0, 213, 255) 100%); 
    box-shadow: 0px 0px 20px #ffd1fd;
    opacity: 0.85; 
}

.header-wrapper {
    text-align: center;
}

hr {
    color: white;
}

p, h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: white;
    opacity: 1
}
